name: Post Coverage Comment

on:
  workflow_run:
    workflows: [Coverage Comparison]
    types:
      - completed

permissions:
  issues: write

jobs:
  post-comment:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      actions: read
      contents: read

    steps:
      - name: Download Coverage Report Artifact
        uses: actions/download-artifact@v4
        with:
          name: code-coverage-report
          path: coverage-report.txt
      
      - name: Read Coverage Report
        id: coverage
        run: echo "::set-output name=body::$(cat coverage-report.txt)"

      - name: Create Issue Comment
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `${{ steps.coverage.outputs.body }}`
            })
